
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Summer rates from $89, Getaway now through Labor Day</h1>
            <hr>
            <form class="form-inline formNew" name="searchForm">
              <div class="form-group">
                <label for="exampleInputName2">Destination: </label>
                <!--input type="text" class="form-control" list="browsers" name="browser" id="exampleInputName2" placeholder="Type your Destination">
                  <datalist id="browsers">
                    <option value="Miami Beach">
                    <option value="New York">
                    <option value="Bethesda">
                    <option value="Washington DC">
                    <option value="Chicago">
                  </datalist-->
				  <input type="text" class="form-control" id="search" ng-model="searchOptions.location" required placeholder="Enter your destination"/>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Check In: </label>
                <input type="text" class="form-control from" id="from" ng-model="searchOptions.today" placeholder="Check In Date">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Check Out: </label>
                <input type="text" class="form-control to" id="to" ng-model="searchOptions.tomorrow" placeholder="Check Out Date">
              </div>

              <br/><br/>
              <div class="form-group lar" style="margin-left:550px">
                <!--label for="exampleInputEmail2">Lowest Available Rate: </label>
                <input type="checkbox" class="form-control" id="exampleInputEmail2" style="width:20px;"-->
				<label>Lowest Available Rate:</label>
				<label class="switch">
				  <input type="checkbox" ng-init="searchOptions.lar = false" ng-model="searchOptions.lar">
				  <div class="slider round"></div>
				</label>
              </div>
              <input type="button" ng-disabled="searchForm.$invalid" class="btn btn-primary btn-xl page-scroll" style="margin-right:45px; float:right" value="Find Out" ng-click="getSearchResult()"/>
            </form>

        </div>
    </div>

<script>
	$( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
		  minDate: 0,
          numberOfMonths: 2
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
		minDate:0,
        numberOfMonths: 2
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }
	//================== Autocomplete
	var availableTags = [
      "Miami Beach",
      "New York",
      "Bethesda",
      "Chicago"
    ];
    $( "#search" ).autocomplete({
      source: availableTags
  } );
  });
</script>
