<!DOCTYPE html>
<html lang="en" ng-app="ERSApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ERS</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-controller="ersCtrl">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img src="img/logo.png" style="width:140px;"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#">Meetings</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Reservations</a>
                    </li>

                    <li ng-if="userData == ''">
                      <form class="form-inline" style="margin:10px;">
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Rewards Number</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" ng-model="user.rewardNo" placeholder="Rewards Number">
                      </div>
                      <button type="button" class="btn btn-default" ng-click="userLogin()">Sign in</button>
                      </form>
                    </li>
					<li ng-if="userData != ''">
						<a class="page-scroll" href="javascript://">Welcome {{userName}}</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<header>
  <div ng-view></div>
</header>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/jquery.ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.ease.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->

    <script src="js/angular.min.js"></script>
    <script src="js/angular.route.min.js"></script>
    <script src="js/app.js"></script>

    <script src="js/script.js"></script>
  <script src="js/creative.min.js"></script>
</body>

</html>
