


            <!--My section Begins-->
            <div class="container search-results" ng-if="searchOptions.location == 'Miami Beach'" style="color:#000 !important;">
              <div class="panel panel-default">
                <div class="panel-body panel-heading">
                  3 hotellist Found in Miami, Beach FL, USA
                </div>
              </div>
              <div class="hotel-list">
                <div class="thumbnail">

<!--First hotel-->
                  <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="row">
                      <div class="col-md-12">
                    <div class="col-md-3 no-padding">
                      <img src="https://cache.marriott.com/propertyimages/m/miasb/miasbe01.jpg" alt="The Ritz-Carlton, South Beach" title="The Ritz-Carlton, South Beach">
                    </div>
                      <div class="hotel-details">
                        <div class="col-md-9 no-padding">
                          <h4>The Ritz-Carlton, South Beach</h4>
                        <a href="javascript://" onClick="getHotelDetail(1)" class="btn btn-primary view-rates" role="button">View Rates</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

<!--First hotel Accordion-->
<div id="attribute-list-1" class="container" style="display:none;">
  <p>The following <strong>7 products</strong> are available for your travel plans.</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
		<a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1" href="" >
          <!--a data-toggle="collapse" data-parent="#accordion" href="#collapse1"-->2 Queen Fields, Guest Room, Low Floor, Pool View <light>DSP</light></a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">

          <div class="panel panel-default">
          <div class="panel-body">
          <div class="row">
              <div class="col-md-12">
            <div class="col-md-3">
              DSP RATE PLAN
              <br>Regular Rate
              <br>Room Details
              <br><br>
              TOTAL PRICE for <stron>1 room</strong>
              <br><p class="rate"><strong>339.16 USD</strong></p>
              <br><a href="#" class="btn btn-primary book-now" role="button">Book Now</a>
            </div>
              <div class="hotel-details">
                <div class="col-md-9 no-padding">
                  <p><strong>Rate Breakdown</strong></p>

                  <div class="panel panel-default">
                  <div class="panel-body">
                  <table class="col-md-12">
                    <tr class="separator">
                      <th>Dates</th>
                      <th>Base Price</th>
                      <th>Attribute Prices</th>
                      <th></th>
                      <th>Total Price</th>
                    </tr>
                    <tr>
                      <td>Jul 05, 2017</td>
                      <td class="bold">250.00 USD</td>
                      <td class="bold">Pool View</td>
                      <td><span ng-if="user.rewardNo == '11001100'">0.00 USD</span><span ng-if="user.rewardNo != '11001100'">15.00 USD</span></td>
                      <td class="bold total-price">288.00 USD</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="bold">2 Queen Beds</td>
                      <td>10.00 USD</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="bold">Balcony</td>
                      <td>0.00 USD</td>
                    </tr>
                     <tr>
                      <td></td>
                      <td></td>
                      <td class="bold">Low Floor Room</td>
                      <td>13.00 USD</td>
                    </tr>
                     <tr class="separator">
                      <td></td>
                      <td></td>
                      <td class="bold">Near Elevator</td>
                      <td>0.00 USD</td>
                      <td></td>
                    </tr>
                    <tr class="bold">
                     <td>1 Night(s) per room</td>
                     <td>250.00 USD</td>
                     <td >58.00 USD</td>
                     <td></td>
                     <td>288.00 USD</td>
                   </tr>
                  </table>
                </div>
              </div>
                </div>
              </div>
          </div>
          </div>
          </div>
          </div>

      </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Collapsible Group 4</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Collapsible Group 5</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Collapsible Group 6</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Collapsible Group 7</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div>
</div>

<!--Second hotel-->
                <div class="panel panel-default">
                <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                  <div class="col-md-3">
                      <img src="https://cache.marriott.com/propertyimages/m/miach/miache01.jpg" alt="Residence Inn Miami Beach South Beach" title="Residence Inn Miami Beach South Beach">
                    </div>
                      <div class="hotel-details">
                        <div class="col-md-9 no-padding">
                          <h4>Residence Inn Miami Beach South Beach </h4>
                        <a href="javascript://" onClick="getHotelDetail(2)" class="btn btn-primary view-rates" role="button">View Rates</a>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--Third hotel-->
            <div class="panel panel-default">
            <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                  <div class="col-md-3">
                      <img src="https://cache.marriott.com/propertyimages/m/miamv/miamve01.jpg" alt="Marriott Vacation Club Pulse, South Beach" title="Marriott Vacation Club Pulse, South Beach">
                    </div>
                      <div class="hotel-details">
                        <div class="col-md-9 no-padding">
                          <h4>Marriott Vacation Club Pulse, South Beach </h4>
                        <a href="javascript://" onClick="getHotelDetail(3)" class="btn btn-primary view-rates" role="button">View Rates</a>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            </div>
              </div>
            </div>
			<div ng-if="searchOptions.location != 'Miami Beach'">
				NOt available
			</div>

